* {
  font-size: 16px;
}

.display--heading {
  font-family: "Paralucent", "sans-serif";
  color: var(--color-dark-teal);
}

h2,
h3,
h4,
h5 {
  font-family: "Open Sans", "san-serif";
}

body {
  font-family: "Open Sans", "Arial", "sans-serif";
}

/* brandPalette.css */
:root {
  --color-white: #FEFEFE;
  --color-light-teal: #91BaB5;
  --color-light-grey: #E0E7E6;
  --color-dark-teal: #0C9076;
  --color-teal: #1DAB8A;
}

/* Use the colors for specific elements or classes */
.background-dark-teal {
  background-color: var(--color-dark-teal);
}

.text-white {
  color: var(--color-white);
}

.text-light-teal {
  color: var(--color-light-teal);
}

.text-light-gray {
  color: var(--color-light-grey);
}

.text-dark-teal {
  color: var(--color-dark-teal);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-light-teal {
  background-color: var(--color-light-teal);
}

.bg-light-grey {
  background-color: var(--color-light-grey);
}

.bg-dark-teal {
  background-color: var(--color-dark-teal);
}

btn-dark-teal .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
.jumbotron .display--heading {
  font-family: "Paralucent", "sans-serif";
  color: #0C9076;
}
.jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5 {
  font-family: "Open Sans", "Arial", "sans-serif";
}
.jumbotron body {
  font-family: "Open Sans", "Arial", "sans-serif";
}
.jumbotron .background-dark-teal {
  background-color: #0C9076;
}
.jumbotron .text-white {
  color: #FEFEFE;
}
.jumbotron .text-light-teal {
  color: #91BaB5;
}
.jumbotron .text-light-grey {
  color: #E0E7E6;
}
.jumbotron .text-dark-teal {
  color: #0C9076;
}
.jumbotron .bg-white {
  background-color: #FEFEFE;
}
.jumbotron .bg-light-teal {
  background-color: #91BaB5;
}
.jumbotron .bg-light-grey {
  background-color: #E0E7E6;
}
.jumbotron .bg-dark-teal {
  background-color: #0C9076;
}
.jumbotron .App {
  text-align: center;
}
.jumbotron .App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .jumbotron .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.jumbotron .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FEFEFE;
}
.jumbotron .App-link {
  color: #61dafb;
}
.jumbotron .jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
.jumbotron .nav {
  font-size: 2em;
}
.jumbotron .nav-link {
  padding: 0 2em;
}

/*# sourceMappingURL=App.css.map */
